@media all and (orientation: landscape) {

    #board {
        width: 100vh;
        height: 100vh;
        right: 0;
        position: absolute;
    }

    #options {
        position: absolute;
        height: 65%;
        width: calc(100vw - 100vh);
        left: 0;
        top: 35%;

    }

    #title {
        height: 35%;
        width: calc(100vw - 100vh);
        left: 0;
    }

    .font-size-wrap {
        font-size: 4.5vh;
    }

    .small-font-size-wrap {
        font-size: 3vh;
    }






    #test-outer {
        width: 98vh;
        height: calc(98vh * 1.732050808 / 2);
        height: 98vh;
        background: rgb(74, 83, 87);
        background: rgb(0, 153, 211);
        position: absolute;
        left: 50%;
        overflow: hidden;
        top: 50%;
        transform: translate(-50%, -50%);
        /*rotate(30deg); */
        overflow-x: hidden;
        background-size: 100% 100%;
        background: url(./newAssets/background_new3.png);
    }

    .border-normal {
        width: 99vh;
        height: calc(99vh * 1.732050808 / 2);
    }

    /* #borderExpanded {
        width: 99vh;
        height: calc(99vh * 1.732050808 / 2);
        background: rgb(0, 153, 211);
        position: absolute;
        left: 50%;
        overflow: hidden;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow-x: hidden;
        background-size: 100% 100%;
        background-repeat: no-repeat
    } */

    .shuffle {
        width: 25%;
        height: 20%;
    }

    .optsbutton {
        height: 20%;

    }



}

@media all and (orientation: portrait) {

    #board {
        width: 100vw;
        height: 100vw;
        left: 50%;
        transform: translate(-50%, 0);
        top: 15.5%;
        position: absolute;
    }

    #options {
        height: calc((100vh - 100vw)/2.5);
        width: 100vw;
        position: absolute;
        bottom: 0;

    }

    #title {
        height: 15%;
        width: 100vw;
    }

    .font-size-wrap {
        font-size: 4.5vw;
    }

    .small-font-size-wrap {
        font-size: 3vw;
    }

    .border-normal {
        width: 99vw;
        height: calc(99vw * 1.732050808 / 2);
    }

    .shuffle {
        width: 25%;
        height: 40%;

    }

    .optsbutton {
        height: 40%;

    }

}